<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="aa_form" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in productForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in productForm %}
        {{ field }} <br />
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}


    <input type="submit" name="submit" value="Submit" />
</form>
</body>
</html>